@import url('https://fonts.googleapis.com/css?family=poppins:200,300,400,500,600,700,800,900display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
body
{
    display: flex;
    justify-content:center;
    align-items: center;
    min-height: 100vh;
    flex-wrap: wrap;
   
}


/*card 1 */



.card1
{
    position:relative;
    width: 600px;
    height: 350px;
    border-radius: 20px;
    display:flex;
    align-items:center;
    margin: 150px;
    transition: 0.5s;
    border-radius: 20px;
  
  
  
}
.card1 .circle
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
 
}
.card1 .circle::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #d83133;
    clip-path: circle(
        120px at center
    );
    transition: 0.5s;
    border-radius: 20px;
    
    
}
.card1:hover .circle:before
{
    background: goldenrod;
    clip-path: circle(
        400px at center
    );
    
}

.card1 img
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 300px;
    pointer-events: none;
    transition: 0.5s;
 
}
.card1:hover img
{
    left: 77%;
    height: 400px;
  
}
.card1 .content
{
    position: relative;
    width: 50%;
    left: 20%;
    padding: 20px 20px 20px 20px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}
.card1:hover .content
{
    left: 0;
    opacity: 1;
    visibility: visible;
}
.card1 .content h2
{
    color: #fff; 
    text-transform: uppercase;
    font-size: 2em;
    line-height: 1em;
    margin-bottom: 10px;
}
.card1 .content p
{
    color: #fff;
}
.card1 .content a
{
    position: relative;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    background: #fff;
    color: #111;
    margin-top: 10px;
    display: inline-block;
    text-decoration: none;
    font-weight: 700;
}

/*card 2 */

.card2
{
    position:relative;
    width: 600px;
    height: 350px;
    border-radius: 20px;
    display:flex;
    align-items:center;
    margin: 150px;
    transition: 0.5s;
    border-radius: 20px;
 
  
}
.card2 .circle
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.card2 .circle::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #d83133;
    clip-path: circle(
        120px at center
    );
    transition: 0.5s;
    border-radius: 20px;
}
.card2:hover .circle:before
{
    background: rgb(237, 70, 70);
    clip-path: circle(
        400px at center
    );
}
.card2 img
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 300px;
    pointer-events: none;
    transition: 0.5s;
 
}
.card2:hover img
{
    left: 77%;
    height: 400px;
}
.card2 .content
{
    position: relative;
    width: 50%;
    left: 20%;
    padding: 20px 20px 20px 20px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}
.card2:hover .content
{
    left: 0;
    opacity: 1;
    visibility: visible;
}
.card2 .content h2
{
    color: #fff; 
    text-transform: uppercase;
    font-size: 2em;
    line-height: 1em;
    margin-bottom: 10px;
}
.card2 .content p
{
    color: #fff;
}
.card2 .content a
{
    position: relative;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    background: #fff;
    color: #111;
    margin-top: 10px;
    display: inline-block;
    text-decoration: none;
    font-weight: 700;
}

/*card 3 */



.card3
{
    position:relative;
    width: 600px;
    height: 350px;
    border-radius: 20px;
    display:flex;
    align-items:center;
    margin: 150px;
    transition: 0.5s;
    border-radius: 20px;
 
  
}
.card3 .circle
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.card3 .circle::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #d83133;
    clip-path: circle(
        120px at center
    );
    transition: 0.5s;
    border-radius: 20px;
}
.card3:hover .circle:before
{
    background: orange;
    clip-path: circle(
        400px at center
    );
}
.card3 img
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 300px;
    pointer-events: none;
    transition: 0.5s;
 
}
.card3:hover img
{
    left: 77%;
    height: 400px;
}
.card3 .content
{
    position: relative;
    width: 50%;
    left: 20%;
    padding: 20px 20px 20px 20px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}
.card3:hover .content
{
    left: 0;
    opacity: 1;
    visibility: visible;
}
.card3 .content h2
{
    color: #fff; 
    text-transform: uppercase;
    font-size: 2em;
    line-height: 1em;
    margin-bottom: 10px;
}
.card3 .content p
{
    color: #fff;
}
.card3 .content a
{
    position: relative;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    background: #fff;
    color: #111;
    margin-top: 10px;
    display: inline-block;
    text-decoration: none;
    font-weight: 700;
}
/*card 4 */



.card4
{
    position:relative;
    width: 600px;
    height: 350px;
    border-radius: 20px;
    display:flex;
    align-items:center;
    margin: 150px;
    transition: 0.5s;
    border-radius: 20px;
  
  
}
.card4 .circle
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.card4 .circle::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #d83133;
    clip-path: circle(
        120px at center
    );
    transition: 0.5s;
    border-radius: 20px;
}
.card4:hover .circle:before
{
    background: blue;
    clip-path: circle(
        400px at center
    );
}
.card4 img
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 300px;
    pointer-events: none;
    transition: 0.5s;
 
}
.card4:hover img
{
    left: 77%;
    height: 400px;
}
.card4 .content
{
    position: relative;
    width: 50%;
    left: 20%;
    padding: 20px 20px 20px 20px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}
.card4:hover .content
{
    left: 0;
    opacity: 1;
    visibility: visible;
}
.card4 .content h2
{
    color: #fff; 
    text-transform: uppercase;
    font-size: 2em;
    line-height: 1em;
    margin-bottom: 10px;

}
.card4 .content p
{
    color: #fff;
}
.card4 .content a
{
    position: relative;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    background: #fff;
    color: #111;
    margin-top: 10px;
    display: inline-block;
    text-decoration: none;
    font-weight: 700;
}